<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var \Magento\Framework\View\Element\AbstractBlock $block
 */

// We should use strlen function because coupon code could be "0", converted to bool will lead to false
$hasCouponCode = (bool)strlen($block->getCouponCode() ?? '');
?>
<div class="block discount"
     id="block-discount"
     data-mage-init='{
        "collapsible":{
            "active": <?= !$hasCouponCode ? 'true' : 'false' ?>,
            "openedState": "active",
            "saveState": false
        }
    }'
>
    <div class="title" data-role="title">
        <div class="flex items-center">
            <strong class="flex-auto" id="block-discount-heading" role="heading" aria-level="2">
                <?php if (!$hasCouponCode): ?>
                    <?= $block->escapeHtml(__('Apply Discount Code')) ?>
                <?php else: ?>
                    <?= $block->escapeHtml(__('Discount Code applied')) ?>
                <?php endif; ?>
            </strong>
            <svg xmlns="http://www.w3.org/2000/svg" class="flex-none h-6 w-6" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
            </svg>
        </div>
        <?php if ($hasCouponCode): ?>
            <div class="flex items-center">
                <svg class="discount-icon w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                    <path
                            d="M17.78 3.09C17.45 2.443 16.778 2 16 2h-5.165c-.535 0-1.046.214-1.422.593l-6.82 6.89c0 .002 0 .003-.002.003-.245.253-.413.554-.5.874L.738 8.055c-.56-.953-.24-2.178.712-2.737L9.823.425C10.284.155 10.834.08 11.35.22l4.99 1.337c.755.203 1.293.814 1.44 1.533z"
                            fill-opacity=".55"></path>
                    <path
                            d="M10.835 2H16c1.105 0 2 .895 2 2v5.172c0 .53-.21 1.04-.586 1.414l-6.818 6.818c-.777.778-2.036.782-2.82.01l-5.166-5.1c-.786-.775-.794-2.04-.02-2.828.002 0 .003 0 .003-.002l6.82-6.89C9.79 2.214 10.3 2 10.835 2zM13.5 8c.828 0 1.5-.672 1.5-1.5S14.328 5 13.5 5 12 5.672 12 6.5 12.672 8 13.5 8z"></path>
                </svg>
                <span class="text-sm font-semibold"><?= $block->escapeHtmlAttr($block->getCouponCode()) ?></span>
            </div>
        <?php endif; ?>
    </div>
    <div class="content" data-role="content" aria-labelledby="block-discount-heading">
        <form id="discount-coupon-form"
              action="<?= $block->escapeUrl($block->getUrl('checkout/cart/couponPost')) ?>"
              method="post"
              data-mage-init='{"discountCode":{"couponCodeSelector": "#coupon_code",
                                               "removeCouponSelector": "#remove-coupon",
                                               "applyButton": "button.action.apply",
                                               "cancelButton": "button.action.cancel"}}'>

            <?= $block->getBlockHtml('formkey') ?>

            <div class="fieldset coupon<?= $hasCouponCode ? ' applied' : '' ?>">
                <input type="hidden" name="remove" id="remove-coupon" value="0"/>
                <?php if (!$hasCouponCode): ?>
                    <div class="field">
                        <label for="coupon_code"
                               class="label"><span><?= $block->escapeHtml(__('Enter discount code')) ?></span></label>
                        <div class="control">
                            <input type="text"
                                   class="input-text"
                                   id="coupon_code"
                                   name="coupon_code"
                                   value="<?= $block->escapeHtmlAttr($block->getCouponCode()) ?>"
                                   placeholder="<?= $block->escapeHtmlAttr(__('Enter discount code')) ?>"
                                <?php if ($hasCouponCode) : ?>
                                    disabled="disabled"
                                <?php endif; ?>
                            />
                        </div>
                    </div>
                <?php endif; ?>

                <div class="actions-toolbar">
                    <?php if (!$hasCouponCode) :?>
                        <div class="primary">
                            <button class="action apply primary" type="submit" value="<?= $block->escapeHtmlAttr(__('Apply Discount')) ?>">
                                <span><?= $block->escapeHtml(__('Apply Discount')) ?></span>
                            </button>
                        </div>
                    <?php else :?>
                        <div class="primary">
                            <button  type="button" class="action cancel primary" value="<?= $block->escapeHtmlAttr(__('Cancel Coupon')) ?>"><span><?= $block->escapeHtml(__('Cancel Coupon')) ?></span></button>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
            <?php if (!$hasCouponCode) : ?>
                <?= /* @noEscape */ $block->getChildHtml('captcha') ?>
            <?php endif; ?>
        </form>
    </div>
</div>
