<div class="hidden lg:flex w-full">
    <div class="w-full lg:w-3/6">
        <h4 class="mb-6 font-bold font-heading text-gray-500"><?= __('Product details') ?></h4>
    </div>
    <div class="w-full lg:w-1/6">
        <h4 class="mb-6 font-bold font-heading text-gray-500"><?= __('Eenheidsprijs') ?></h4>
    </div>
    <div class="w-full lg:w-1/6 text-center">
        <h4 class="mb-6 font-bold font-heading text-gray-500"><?= __('Aantal') ?></h4>
    </div>
    <div class="w-full lg:w-1/6 text-right">
        <h4 class="mb-6 font-bold font-heading text-gray-500"><?= __('Product subtotaal') ?></h4>
    </div>
</div>
